@charset "UTF-8";
nav {
  height: 53px;
  background: #212121;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto;
}

.xs-visible {
  display: none !important;
}

.menu_link {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}

.menu .menu_item {
  border-right: 1px dashed #000000;
  padding-right: 28px;
}
.menu .menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
  z-index: 2;
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_official {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px;
}

.subheader .subheader_call {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  text-align: right;
}

.subheader .subheader_phone {
  display: block;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  margin-top: 6px;
  line-height: 12px;
  text-align: right;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: -o-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-weight: 400;
}

.subheader .subheader_btn:hover {
  background: none;
  background-color: #1CA8C3;
}

.promo {
  height: 800px;
  background: url("../img/promo-bg.png") center center/cover no-repeat;
  padding: 150px 0 130px 0;
}

.promo .promо_header {
  font-weight: 700;
  font-size: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 52px;
}

.promo .promo_subheader {
  font-weight: 700;
  font-size: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}

.promo .promo-descr {
  padding-top: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  background: -o-linear-gradient(bottom, #1EACC7 0%, #4CE2FF 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: white;
}

.promo .promo_btn:hover {
  background: none;
  background-color: #1CA8C3;
}

.reasons_title {
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.reasons_title2 {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.benefits_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 20px;
}

h4 {
  color: #1EACC7;
  font-weight: 400;
  font-size: 17px;
}

.benefits_p {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
}

.benefits-title-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title-background {
  width: 115px;
  height: 27px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 33px;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: black;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  margin-top: 19px;
  text-align: center;
  color: #222222;
}

.reasons_descr {
  height: 150px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.png") center no-repeat;
}
.mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 19px;
  z-index: 0;
}
.mobile_item_1 {
  background: url("../img/mobile_screen1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/mobile_screen2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/mobile_screen3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/mobile_screen4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/mobile_screen5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/mobile_screen6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  padding-top: 90px;
  margin-bottom: 30px;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1CA8C3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.mobile_item_plus:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 14px;
  width: 2px;
  background-color: #1CA8C3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.mobile_item_plus:hover::before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.choise {
  background: url("../img/choise_bg.png");
  min-height: 898px;
  padding-top: 56px;
}
.choise div .label {
  color: #070716;
  background-color: white;
}
.choise div .title {
  font-weight: 700;
  font-size: 38px;
  color: white;
}
.choise div .subtitle {
  font-weight: 400;
  font-size: 17px;
  color: white;
  margin: 0;
  padding: 0;
}
.choise div .auto-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 54px;
}
.choise div .post-title {
  text-align: center;
  color: #222222;
  font-weight: 300;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nbm {
  margin-bottom: 0px;
}
.require_title {
  font-weight: 400;
  font-size: 22px;
  color: #1CA8C3;
}
.require_list {
  list-style: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
  position: relative;
}
.require_list li:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/check_blue.svg") center center/cover no-repeat;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li:before {
  background: url("../img/check_red.svg") center center/cover no-repeat;
}

.all-world {
  min-height: 720px;
  background: url("../img/all_world.png") center center/cover no-repeat;
}
.all-world .container {
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.all-world .container .label {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #070716;
}
.all-world .container .title {
  margin-top: 26px;
  color: #FFFFFF;
}
.all-world .container .subtitle {
  margin-top: 2px;
  color: #000;
}
.all-world .container .see_all_cities {
  margin-top: 456px;
}

.footer .footer-container {
  margin: 0 auto;
  padding-left: 23px;
  padding-right: 23px;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}
.footer .footer-container .icons div {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-container .icons div i {
  color: white;
}
.footer .footer-container .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 127px;
}
.footer .footer-container .footer-menu .separator {
  padding-top: 11px;
}
.footer .footer-container .footer-menu .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer .footer-container .footer-menu .menu-title a {
  font-weight: 300;
  font-size: 15px;
  line-height: 68px;
  text-transform: uppercase;
  color: #070716;
}
.footer .footer-container .footer-menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.footer .footer-container .footer-menu .menu-item a {
  font-weight: 300;
  font-size: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #999999;
}
.footer .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.footer .language a {
  font-weight: 400;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
}

/*# sourceMappingURL=style.css.map */
@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .menu input[type=checkbox] {
    left: 10px;
  }
  .promo .promо_header {
    font-size: 50px;
  }
  .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reasons_descr {
    height: 171px;
  }
  .mobile_item {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .promo .promo_btn {
    margin: 30px auto 0 auto;
  }
  .icons {
    padding-top: 20px;
  }
  nav .menu {
    padding: 13px 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .menu_link {
    display: block;
  }
  .main-auto {
    width: 100%;
  }
  .footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-container .footer-menu {
    margin-left: 0;
  }
  .subheader .subheader_phone {
    font-size: 18px;
  }
  .subheader .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .menu .menu_item {
    padding-right: 8px;
  }
  .menu {
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu_item {
    padding-right: 8px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .benefits_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefits_block h4 {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
        -ms-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
        -ms-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin-top: 10px;
  }
  .menu_link {
    font-size: 20px;
  }
  .menu_active {
    left: 0;
    z-index: 100;
  }
  ul.menu.menu_active {
    text-align: center;
  }
  .menu-item {
    width: 100%;
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block !important;
  }
}
@media (max-width: 576px) {
  .subheader .subheader_phone {
    font-size: 12px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .subheader .subheader_btn {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    display: block;
  }
  .promo .promо_header {
    line-height: 45px;
  }
  .promo .promo_btn {
    margin: 40px auto 0 auto;
  }
}
@media (max-width: 575px) {
  .subheader_official {
    display: none;
  }
  .subheader .subheader_logo {
    margin-top: 16px;
  }
  .subheader .subheader_btn {
    width: 110px;
    height: 22px;
    font-weight: 400;
    font-size: 10px;
    margin-top: 10px;
  }
  .subheader .subheader_phone {
    margin-top: 11px;
  }
  .subheader {
    height: 60px;
  }
  .promo {
    height: auto;
  }
  .promo .promo-descr {
    display: none;
  }
  .promo .promо_header {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
  .promo .promo_subheader {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-top: 33px;
    padding: 0 10px;
  }
  .promo .promo_btn {
    width: 210px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    margin-top: 73px;
  }
  .menu {
    width: 85%;
  }
  .benefits_block {
    margin-bottom: 31px;
  }
  .mobile {
    padding: 0px 0 43px 0;
  }
  .mobile .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  .mobile .subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 27px;
  }
  .reasons_title2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  .mobile_item_subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
  }
  .choise {
    min-height: 400px;
  }
  .choise .title {
    display: none;
  }
  .choise .subtitle {
    display: none;
  }
  nav {
    height: 32px;
  }
  .hamburger {
    top: 15px;
  }
  .choise div .post-title {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
  }
  .require {
    padding: 22px 0 30px 0;
  }
  .require .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  .require_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .require_list li {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
  .requier_descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #1CA8C3;
  }
  .all-world {
    min-height: 320px;
  }
  .all-world .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  .all-world .container .see_all_cities {
    margin-top: 133px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1FBAD6;
  }
  .footer .footer-container .footer-menu .menu-item {
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 12px;
  }
  .soc-links {
    margin-bottom: 20px;
  }
  .menu_link {
    font-size: 15px;
  }
}