@media(max-width:1200px){
    .menu{
        &_item{
            padding-right: 20px;
        }
        &_link{
            font-size: 13px;
        }
        input[type="checkbox"] {
            left: 10px;
        }
    }
    .promo .promо_header {
        font-size: 50px;
    }
    .reasons{
        &_block{
            align-items:flex-start;
        }
    }
    .reasons_descr {
    height: 171px;
    }
    .mobile_item{
        width: 300px;
    }
}
@media(max-width:991px){
    .promo .promo_btn{
        margin: 30px auto 0 auto;
    }
    .icons {
        padding-top: 20px;
    }
    nav .menu{
        padding: 13px 0px;
        justify-content: flex-start;
    }
    .menu_link{
        display: block;
    }
    .main-auto{
        width: 100%;
    }
    .footer .footer-container {
        flex-direction: column;
    }
    .footer .footer-container .footer-menu {
        margin-left: 0;
    }
    .subheader .subheader_phone{
        font-size: 18px;;
    }
    .subheader .subheader_btn{
        margin-top: 21px;
        height: 40px;
        width: 100%;
    }
    .menu .menu_item {
        padding-right: 8px;
    }
    .menu{
        transition: 0.5s all;
        &_item{
            padding-right: 8px;
        }
        &_link{
            font-size: 10px;
        }
        
    }
    .subheader{
        &_logo{
            img{
                width: 100%;
            }
        }
        &_official{
            font-size: 11px;
        }
    }
    .benefits_block{
        flex-direction: column;
        align-items: center;
        h4{
            margin-top: 20px;
        }
        }
}
@media (max-width:767px){
    .hamburger{
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
          span{
            display: block;
            height: 2px;
            width: 100%;
            background-color:#fff;
            margin-bottom: 2px;
            transition: 0.5s all;
          }
          &_active{
            span{
              margin-bottom: -2px;;
              &:nth-child(1){
                transform: translateY(3px) rotate(-45deg);
              }
              &:nth-child(2){
                display: none;
              }
              &:nth-child(3){
                transform: translateY(3px) rotate(45deg);
              }
            }
          }
      }
.menu{
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color:rgba(0,0,0,0.8);
    &_item{
        padding-right: 0;
        border: none;
        margin-top: 10px;
    }
    &_link{
        font-size: 20px;
    }
    &_active{
        left: 0;
        z-index: 100;
    }
}
ul.menu.menu_active{
    text-align: center;
}
.menu-item{
    width: 100%;
}
  

.xs-hidden{
    display: none;
}
.xs-visible{
    display: block !important;
}

}

@media(max-width:576px){
    .subheader .subheader_phone{
        font-size: 12px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .subheader .subheader_btn{
        width: 200px;
        height: 40px;
        margin: 0 auto;
        display: block;
    }

    .promo .promо_header{
        line-height: 45px;
    }
    .promo .promo_btn{
        margin: 40px auto 0 auto;
    }

}
@media(max-width:575px){
    .subheader_official {
        display: none;
    }
    .subheader .subheader_logo{
        margin-top: 16px;
    }
    .subheader .subheader_btn {
        width: 110px;
        height: 22px;
        font-weight: 400;
        font-size: 10px;
        margin-top: 10px;

    }
    .subheader .subheader_phone{
        margin-top: 11px;
    }
    .subheader{
        height: 60px;
    }
    .promo{
        height: auto;
    }
    .promo .promo-descr{
        display: none;
    }
    .promo .promо_header{
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
    .promo .promo_subheader{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        margin-top: 33px;
        padding: 0 10px;
    }
    .promo .promo_btn{
        width: 210px;
        height: 50px;
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
        margin-top: 73px;
    }
    .menu{
        width: 85%;
    }
    .benefits_block{
        margin-bottom: 31px;
    }
    .mobile{
        padding: 0px 0 43px 0;
            .title{
                font-weight: 700;
                font-size: 16px;
                line-height: 16px
        }
        .subtitle{
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 27px;
        }
    }
    .reasons_title2{
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
    }
    .choise{
        .title{

        }
    }
    .mobile_item_subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 31px;
    }
    .choise{
        min-height: 400px;
        .title{
            display: none;
        }
        .subtitle{
            display: none;
        }
    }
    nav{
        height: 32px;
    }
    .hamburger{
        top: 15px;
    }
    .choise div .post-title {
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        color: #FFFFFF;
    }
    .require{
        padding: 22px 0 30px 0;
        .title{
            font-weight: 700;
            font-size: 16px;
            line-height: 16px
        }
    }
    .require_title{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }
    .require_list {
        li{
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
        }
    }
    .requier_descr{
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #1CA8C3;
    }
    .all-world{
        min-height: 320px;
        .title{
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
        }
    }
    .all-world .container .see_all_cities {
        margin-top: 133px;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1FBAD6;
    }
    .footer .footer-container .footer-menu .menu-item {
        font-weight: 300;
        font-size: 11px;
        line-height: 11px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        grid-gap: 12px;
    }
    .soc-links{
        margin-bottom: 20px;
    }
    .menu_link{
        font-size: 15px;
    }
}